:root {
  --cyan: #66E2DC;
  --tangerine: #FA7453;
  --egg-yolk: #FFB964;
  --off-white: #FCFAF9;
  --dark-purple: #191826;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* {
  /* border: 1px red solid; */
}