@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.container {
  background: url('/static/assets/bg-main-desktop.png') no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  z-index: -5;
  width: 100%;
}

/* Top section */

.landingSection {
  display: flex;
  flex-direction: column;
  position: relative;
}

.landingTopSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(100% - 40px);
}

.logo {
  min-width: 147px;
  min-height: 32px;
  padding-top: calc(64rem / 16);
}

.landingTextContainer {
  max-width: 45rem;
}

.landingText {
  margin: 0 2vw 0 11.5vw;
  z-index: 2;
  height: fit-content;}

.adornmentContainer {
  position: relative;
  bottom: 40px;
  max-width: 312px;
  max-height: 468px;
}

.title {
  font-weight: bold;
  font-size: calc(75rem / 16);
  line-height: calc(75rem / 16);
  margin-top: 8.5rem;
  margin-bottom: 40px;
  width: 100%;
}

.landingPara {
  font-weight: 300;
  font-size: calc(17.7rem / 16);
  line-height: calc(26rem / 16);
  width: 100%;
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {

  .container {
    background: url('/static/assets/bg-main-tablet.png') no-repeat;
  }

  .title {
    font-size: calc(51rem / 16);
    line-height: calc(51rem / 16);
    margin-top: calc(98rem / 16);
    margin-bottom: 20px;
  }

  .adornmentContainer {
    right: -20px;
    height: fit-content;
  }

  .landingTextContainer {
    overflow: visible;
  }

  .landingPara {
    width: 120%;
  }
  
}

@media only screen and (max-width: 500px) {

  .container {
    background: url('/static/assets/bg-main-mobile.png') no-repeat;
  }

  .adornmentContainer {
    display: none;
  }


  .title {
    margin-top: calc(64rem / 16);
  }

  .landingTextContainer {
    overflow: hidden;
  }

  .landingText {
    margin: 0 24px;
  }

  .landingPara {
    width: 100%;
  }

}


/* Middle section */

.landingSplash {
  margin-top: 108px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 6fr 1fr;
  position: relative;
  z-index: 2;
  width: 100vw;
}

.mobilePreview {
  grid-area: 1 / 1 / span 2 / span 2;
  background: url('/static/assets/illustration-app.png') no-repeat center;
  background-position: 13.5% top;
  background-size: contain;
  width: auto;
  height: 642px;
  margin-left: 9vw;
}

.splashBg {
  grid-area: 2 / 1 / span 1 / span 2;
  z-index: -2;
  height: 600px;
  margin: 0 8vw;
  background-color: var(--dark-purple);
  border-radius: 10px;
  overflow: hidden;
}

.midAdornment {
  position: relative;
  bottom: 6%;
  z-index: -1;
  padding-left: 30%;
  grid-area: 2 / 1 / span 1 / span 2;
}

.buyCard {
  position: relative;
  grid-area: 2 / 2 / span 2 / span 1;
  background-color: var(--tangerine);
  color: var(--off-white);
  height: fit-content;
  width: calc(446rem / 16);
  border-radius: 10px;
  margin-top: 20%;
  margin-right: 15vw;
  right: 0vw;
  padding: calc(58rem / 16) calc(54rem / 16) calc(46rem / 16) calc(54rem / 16);
}

.buyCardTitle {
  font-weight: bold;
  font-size: calc(40rem / 16);
  line-height: calc(52rem / 16);
  margin-top: 0;
}

.copy {
  font-weight: 300;
  font-size: calc(19rem / 16);
  line-height: calc(26rem / 16);
  width: 333px;
  margin-bottom: calc(39rem / 16);
}

.priceContainer {
  display: flex;
  margin-bottom: calc(46rem / 16);
}

.price {
  font-size: calc(65rem / 16);
}

.priceCopy {
  font-weight: 300;
  font-size: calc(17.7rem / 16);
  line-height: calc(26rem / 16);
  padding-left: 1rem;
  height: fit-content;
  align-self: center;
}

.appleIcon {
  position: relative;
  background: url('/static/assets/icon-apple.svg') no-repeat center;
  background-size: 100% 100%;
  width: calc(17rem / 16);
  height: calc(20rem / 16);
  margin: auto 0;
  bottom: calc(2rem / 16);
}

.androidIcon {
  background: url('/static/assets/icon-android.svg') no-repeat center;
  background-size: 100% 100%;
  width: calc(17rem / 16);
  height: calc(20rem / 16);
  margin: auto 0;
}

.iosDl,
.andDl {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1rem;
  width: calc(333rem / 16);
  height: calc(61rem / 16);
  border-radius: 10px;
  font-weight: bold;
  line-height: 2rem;
  border: 0;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.iosDl {
  background-color: var(--dark-purple);
  color: var(--off-white);
}

.iosDl:hover {
  background-color: var(--cyan);
}

.andDl {
  background-color: var(--off-white);
  color: black;
}

.andDl:hover {
  background-color: var(--egg-yolk);
}

.buttonText {
  margin: auto 0;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 768px) {

  .mobilePreview {
    margin-left: 2.5vw;
  }

  .buyCard {
    width: calc(399rem / 16);
    margin-right: 10vw;
    padding: calc(48rem / 16);
  }

  .buyCardTitle {
    font-size: calc(32rem / 16);
    line-height: calc(40rem / 16);
  }

  .copy {
    font-size: calc(17rem / 16);
    line-height: calc(24rem / 16);
    width: 100%;
  }
  
  .iosDl,
  .andDl {
    width: 100%;
  }

}

@media only screen and (max-width: 500px) {

  .landingSplash {
    grid-template: 98px 380px 546px / 1fr;
    width: 97vw;
    margin: 50px auto;
  }

  .mobilePreview {
    grid-area: 1 / 1 / span 2 / span 1;
    background-position: center center;
    width: auto;
    height: 90%;
    margin: 1.5rem 0;
  }

  .splashBg {
    grid-area: 2 / 1 / span 2 / span 1;
    min-width: 100%;
    margin: 0;
  }

  .buyCard {
    grid-area: 3 / 1 / span 1 / span 1;
    max-height: 100%;
    min-width: 100%;
    margin: 0;
  }

  .midAdornment {
    grid-area: 2 / 1 / span 2 / span 1;
    bottom: 0;
    padding-left: 17.5%;
    grid-area: 2 / 1 / span 1 / span 2;
  }

}

/* Footer section */

.footer {
  margin: 87px 11.5vw;
  display: flex;
  justify-content: space-between;
}

.logoFooter {
  min-width: 147px;
  min-height: 32px;
  margin-right: 2rem;
}

.footerText {
  font-weight: 300;
  max-width: calc(366rem / 16);
  margin-right: 15vw;
}

.emailLink {
  cursor: pointer;
  transition: color 0.5s ease;
}

.emailLink:hover {
  color: var(--tangerine);
}

.socials {
  display: flex;
  gap: 20px;
}

.facebookIcon,
.instagramIcon,
.twitterIcon {
  position: relative;
  background-size: 100% 100%;
  margin: auto 0;
  cursor: pointer;
}

.facebookIcon:hover,
.instagramIcon:hover,
.twitterIcon:hover {
  /* Hack to change colour of an svg that's a background image
      https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(50%) sepia(74%) saturate(1362%) hue-rotate(330deg) brightness(109%) contrast(96%);
}

.facebookIcon {
  background: url('/static/assets/icon-facebook.svg') no-repeat center;
  width: 20px;
  height: 20px;
}

.instagramIcon {
  background: url('/static/assets/icon-instagram.svg') no-repeat center;
  width: 20px;
  height: 20px;
}

.twitterIcon {
  background: url('/static/assets/icon-twitter.svg') no-repeat center;
  width: 20px;
  height: 16.25px;
}

@media only screen and (max-width: 768px) {

  .footer {
    display: grid;
    grid-template-rows: repeat(2, 1fr) / 3fr 1fr ;
  }

  .logoFooter {
    grid-area: 1 / 1 / span 1 / span 2;
  }

}

@media only screen and (max-width: 500px) {

  .footer {
    margin: 64px 24px;
    display: flex;
    flex-direction: column;
  }

  .logoFooter {
    margin-bottom: 32px;
  }

  .footerText {
    margin-bottom: 64px;
  }

}